@keyframes scroll {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-60%);
    }
    100%{
        transform: translateY(0%);
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}